body {
    font-family: 'Helvetica', 'sans-serif';
    font-size: 16px;
    background-color: #ffffff;
    color : #000000;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}

header {
    margin: 10px 50px;
}

main {
    height: 100%;
    margin: 10px 50px;
    font-family: 'myriad-pro', 'sans-serif';
}

.main-svg text {
    pointer-events: none;
}

button {
    padding: 10px 30px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(218, 218, 218);
    border-radius: 4px;
    cursor: pointer;
    outline: 0;
    font-family: 'myriad-pro', 'sans-serif';
    font-size: 16px;
}



button:hover, button:active {
	background:linear-gradient(to bottom, #202020 5%, #000000 100%);
	background-color:#f6f6f6;
}

.viz-container{
    height: 100%;
}

.graph {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#marker-g circle {
    cursor: pointer;
}

#grouped-quantile-graph-container {
    height: 100%;
    width: 100%;
  }
  a {
    display: flex;
    flex-grow: 0;
  }
  a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    flex-direction: column;
    justify-content:center;
    text-decoration: none;
    color: initial;
}